[Unit]
Description=VN-MDM Rails Backend
After=network.target postgresql.service redis-server.service

[Service]
Type=simple
User=qa
WorkingDirectory=/home/qa/vn-mdm/api
Environment="RAILS_ENV=development"
Environment="PATH=/home/qa/.rbenv/shims:/home/qa/.rbenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/qa/.rbenv/shims/bundle exec rails server -b 127.0.0.1 -p 3000
Restart=always

[Install]
WantedBy=multi-user.target
